* {
  margin:0px;
  padding:0px;
}


.paragraph {
  background-color: #FFCCCB;
  font-family: Verdana, 'DejaVu Sans', sans-serif;
}

#secondline {
  color: #0000FF;
  font-size: 36px;
}

.paragraph.thirdparagraph {
  font-size: 24px;
  
}

.paragraph.fourthparagraph {
  background-color: hsl(120,73%,75%);
 font-size: 24px;
}